@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #7c00f0;
  --dark-background: #140032;
  --geist: "Geist", sans-serif;
  --inter: "Inter", sans-serif;
  --bg-color-1: #140032;
  --bg-color-2: #390076;
  --heading-color: rgba(245, 0, 255, 0.8);
  --text-light: #ffffff;
  --semi-transparent-light-text: rgba(255, 255, 255, 0.4);
  --dark-blue-text: #140032;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  font-family: var(--inter);
  line-height: 24px;
  font-weight: normal;
}
#root {
  background: linear-gradient(180deg, #140032 39%, #380174 55%);
  overflow-x: hidden;
}
section {
  padding-block: 130px;
}

/* some general styles#390076 */
.fs-18 {
  font-size: 18px;
}
.fs-16 {
  font-size: 16px;
}
.fs-14 {
    font-size: 14px;
}
.button {
  font-family: var(--inter);
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 24px;
  letter-spacing: 0px;
  padding: 0.7rem 1.7rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}
.transparent-button {
  background: transparent;
  border: 1px solid var(--text-light);
  color: var(--text-light);
}
.button-drop-shadow {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.primary-button {
  background: var(--primary-color);
  color: var(--text-light);
  border: none;
}
.white-button {
  background: #fff;
  color: #140032;
  border: none;
  font-weight: bold;
}
.text-center {
  text-align: center;
}
.text-light-2 {
  color: var(--semi-transparent-light-text);
}
.text-primary {
  color: var(--primary-color);
}
.text-heading {
  color: var(--heading-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
i.arrow-button::before {
  content: url("../icons/arrow-right.svg");
}
i.chain-logo::before {
  content: url("../icons/link-circle.svg");
  display: inline-flex;
  align-items: center;
  margin-left: 5px;
}
i.star-logo::before {
  content: url("../icons/star-logo.svg");
}
i.chat-gpt-logo::before {
  content: url("../icons/gpt-logo.svg");
}

/* Styles start here */
header {
  background-color: #000;
  padding-block: 10px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Fallback for browsers that do not support sticky */
@supports not (position: sticky) {
  header {
    position: relative;
  }
}
header #navbarNav ul {
  padding-block: 0px;
}

.hero-section {
  min-height: 650px;
  display: grid;
  place-items: center;
}
.hero-section .hero-content-wrapper {
  display: grid;
  place-items: center;
  height: 100%;
}
.hero-section .hero-image {
  transform: translateX(-20px);
}

.mathplaining-section {
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.pathsplaining-subheading {
  text-align: center;
  width: 55%;
  margin-top: 35px;
}

.glow-text {
  position: relative;
  font-weight: bold;
  font-size: 2rem;
}

.glow-text::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  color: #ff00ff;
  filter: blur(5px);
  z-index: -1;
}

.math-block {
  max-width: 320px;
  min-height: 400px;
  margin: auto;
  display: grid;
  align-items: stretch;
  gap: 39px;
}
.math-block .button-container {
  display: flex;
  justify-content: end;
  padding-block: 20px;
}
h3.text-heading {
  font-family: var(--inter);
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
}
.mathsplaining-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-between;
}
.equation-section {
  /* display: grid;
  align-items: center;
  justify-content: center; */
  height: 220px;
  overflow: hidden;
  border-radius: 8px;
  margin-top: 80px;
}
.equation-section .image-wrapper {
  height: 100%;
  width: 100%;
}
.equation-section .image-wrapper.easy-image {
  background: url("../images/easy.png") 0px 0px no-repeat;
  background-size: cover;
  filter: grayscale(1);
}
.equation-section .image-wrapper.easy-image:hover {
  background: url("../images/easy.gif") 0px 0px no-repeat;
  background-size: cover;
  filter: grayscale(0);
}
.equation-section .image-wrapper.mid-image {
  background: url("../images/hard.png") 0px 0px no-repeat;
  background-size: cover;
  filter: grayscale(1);
}
.equation-section .image-wrapper.mid-image:hover {
  background: url("../images/hard.gif") 0px 0px no-repeat;
  background-size: cover;
  filter: grayscale(0);
}
.equation-section .image-wrapper.hard-image {
  background: url("../images/medium.png") 0px 0px no-repeat;
  background-size: cover;
  filter: grayscale(1);
}
.equation-section .image-wrapper.hard-image:hover {
  background: url("../images/medium.gif") 0px 0px no-repeat;
  background-size: cover;
  filter: grayscale(0);
}
.equation-section img {
  object-fit: cover;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.math-contain-logo {
  text-align: center;
}
.mathsplaining-cards .math-block-content {
  display: grid;
  /* gap: 24px; */
  height: auto;
}
.mathsplaining-cards .math-block-content p.text-heading {
  margin-bottom: 40px;
}

.universal-section .universal-section-cards {
  margin-top: 100px;
}
.universal-section .universal-section-cards--wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(467px, 1fr));
  column-gap: 20px;
  row-gap: 64px;
  justify-content: center;
}
.universal-section .universal-section-cards--wrapper .u-cards {
  margin-inline: auto;
}
.universal-section .heading-wrapper p {
  max-width: 550px;
}
.universal-section .card-labels {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.universal-section .custom-card {
  display: grid;
  grid-template-columns: 135px 1fr;
  gap: 16px;
  padding: 24px 16px;
  /* max-width: 550px; */
  width: 100%;
  border-radius: 8px;
  background: #fff;
  box-shadow: 4px 4px 0px #f500ff;
}
.universal-section .custom-card h3.card-heading {
  font-family: var(--inter);
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: var(--dark-blue-text);
  min-height: 75px;
  height: 100%;
  max-height: 75px;
  width: 285px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Number of lines before truncating */
  overflow: hidden;
}
.universal-section .custom-card p.card-paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: var(--dark-blue-text);
  opacity: 0.8;
  min-height: 60px;
  height: 100%;
  max-height: 60px;
  width: 285px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Number of lines before truncating */
  overflow: hidden;
  margin-bottom: 8px;
}
.universal-section .card-labels i,
.universal-section .custom-card span {
  font-family: var(--inter);
  font-weight: normal;
  line-height: 16px;
  font-size: 14px;
  opacity: 0.4;
  color: var(--dark-blue-text);
}
.universal-section div.profile-picture-wrapper {
  display: grid;
  grid-template-columns: 25px 1fr;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}
.universal-section div.profile-picture-wrapper p.name {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-light);
  display: flex;

  align-items: center;
}
.universal-section .custom-card img {
    width: 100%;
  }
/* .universal-section .u-cards .card-content {
    display: grid;
    align-items: stretch;
} */
/* .universal-section .u-cards .card-content .card-headings {
    display: grid;
    align-items: stretch;
} */

.universal-section .u-cards .card-content .card-headings p {
    margin-bottom: 10;
}
.custom-container {
  width: 97%;
  max-width: 1441px;
  margin: 0 auto;
}
.universal-card-action a {
    line-height: 24px;
    font-weight: 500;
    font-family: var(--inter);
}
.explorable-universes-subheading {
    width: 65%;
	height: 20px;
}
.explorable-section .links-container {
    margin-top: 100px;
}
.explorable-section .links-container ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding-left: 0;
    row-gap: 10px;
}
.explorable-section .links-container ul li {
    color: var(--text-light);
    padding-inline: 16px;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
}
.explorable-section .links-container ul li:last-child {
    border-right: 0;
}
.explorable-section .links-container ul li a {
    opacity: 0.4;
}
.explorable-section .links-container ul li a.active {
    opacity: 1;
}
.explorable-section .links-container ul li a {
    font-family: var(--inter);
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
}
.link-text-paragraph {
    margin-top: 40px;
}



footer .bottom-strip {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95px;
    background-color: var(--dark-background);
}
footer .galaxy-section {
    max-height: 500px; 
    overflow: hidden;
}
footer .galaxy-section .rotating-galaxy-container {
    /* transform: translateY(-200px); */
}


/* Responsive Margin and Padding */
@media (max-width: 1485px) {
    .universal-section .u-cards .card-content .card-heading {
    min-height: 80px;
}
}


@media (max-width: 1024px) {
  .hero-section .hero-image {
    margin-inline: auto !important;
    transform: initial !important;
    padding-block: 50px;
  }
  .custom-container {
    max-width: 95%;
  }
  .universal-section .universal-section-cards--wrapper {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 20px;
    row-gap: 44px;
    justify-content: center;
}
.universal-section .custom-card h3.card-heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 7px;
}
.universal-section .custom-card p.card-paragraph {
    font-size: 12px;
    line-height: 16px;
    min-height: 50px;
    height: 100%;
    max-height: 50px;
}
.universal-section .card-labels {
    grid-template-columns: 1fr 1fr;
}
}

@media screen and (max-width: 768px) {
    section {
        padding-block: 70px;
    }
  .hero-section {
    padding-block-end: 0 !important;
  }
  .hero-section h1 > img {
    width: 500px;
  }
  .mathplaining-section p.w-50 {
    width: 100% !important;
  }
  header #navbarNav ul {
    padding-block: 40px 25px;
  }
  .universal-section .custom-card {
    grid-template-columns: 1fr;
    /* max-width: 400px; */
    /* width: 97%; */
    margin-inline: auto;
  }
  
  .universal-section .profile-picture {
    max-width: 400px;
    width: 97%;
    /* margin-inline: auto */
  }

  .universal-section {
    padding-block: 40px;
  }
  .pathsplaining-subheading {
    width: 100%;
  }
  .math-block {
    gap: 0px;
  }
  .hero-section .hero-image {
    padding-block: 50px 0px;
  }
  .mathplaining-section .container.py-5 {
    padding-block: 0 !important;
  }
}
@media screen and (max-width: 430px) {
    .universal-section-cards--wrapper .u-cards {
        /* width: 77%; */
        margin-inline: auto;
    }
    .universal-section .universal-section-cards--wrapper {
        grid-template-columns: repeat(auto-fit, minmax(287px, 1fr));
    }
  
}
